* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
    background: #618cb6;
}

h1 {
    font-size: 400%;
}

#section_presentation_lien {
    border: none;
}

.largeur_grand {
    width: 60%;
}

.section_pere {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.centrer {
    display: flex;
    justify-content: center;
}

.colonne {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.colonne2 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 49%;
}

.section_style1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 14px;
    border: black 3px solid;
}

.section_style2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 14px;
    border: black 3px solid;
}

.section_titre {
    height: 10vh;
    border: none;
}

.texte_style1 {
    font-size: 150%;
}

.titre_presentation_h2 {
    font-size: 300%;
}

.titre_presentation_h3 {
    font-size: 200%;
}

.texte_centrer {
    text-align: center;
}

.img_style1 {
    width: 40%;
}

.img_style2 {
    width: 80%;
}

.img_style3 {
    height: 15vh;
    width: auto;
}

.img_style4 {
    height: 20vh;
    width: auto;
}

.img_rond {
    border-radius: 50%;
}

.img_arrondi {
    border-radius: 14px;
}

.text_top {
    margin-top:5%;
}

.lien_style1 {
    color: black;
    text-decoration: none;
    font-size: 200%;
}

.lien_style2 {
    color: black;
    text-decoration: none;
    font-size: 200%;
    width: 30%;
}

.container_lien {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.section_competence {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.colonne_competence {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.div_competence {
    border-radius: 14px;
    border: black 3px solid;
    width: 100%;
    margin-top: 1.5%;
    margin-bottom: 1%;
    padding: 2%;
}

.div_style1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.li_competence {
    margin-left: 30%;
    font-size: 150%;
}

.lien_projet {
    width: 30%;
    margin: 1%;
    color: black;
    text-decoration: none;
}