/* fr: pour tout les éléménts */
/* en: for all elements */
* {
    margin: 0;
    padding: 0;
}

/* fr: dimention des boutons */
/* en: size of the buttons */
.button {
    width: 100%;
    height: 50vh;
}

/* plateau */
.plateau {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* fr: bouton rouge */
/* en: red button */
#rouge {
  background-color: red;
}

/* fr: bouton vert */
/* en: green button */
#vert {
  background-color: green;
}

/* fr: bouton bleu */
/* en: blue button */
#bleu {
  background-color: blue;
}

/* fr: bouton jaune */
/* en: yellow button */
#jaune {
  background-color: yellow;
}

/* menu */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.7);
  width: 100%;
  height: 100vh;
}

/* fr: bouton jouer */
/* en: play button */
.jouer {
  position: absolute;
  width: 10%;
  height: 6vh;
  background-color: grey;
  border: 5px solid black;
  font-size: 2em;
  border-radius: 5px;
}

/* fr: si survole bouton jouer */
/* en: if hover play button */
.jouer:hover {
  cursor: pointer;
}

/* fr: si presse le bouton jouer */
/* en: if you press the play button */
.jouer:active {
  background-color: darkgrey;
}

/* fr: menu titre */
/* en: title menu */
.menuTitre {
  z-index: 3;
  position: absolute;
  top: 45px;
  font-size: 10em;
}

/* fr: texte menu */
/* en: menu text */
.menuText {
  z-index: 3;
  position: absolute;
  top: 200px;
  font-size: 5em;
}