@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
}

/***************************************** menu *****************************************/

.menu {
    background-image: url('image/fond/background_menu1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: background-image 1s;
}

.menu .second_fond {
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: opacity 1s ease-out;
}

.menu #fond_etude {
    background-image: url('image/fond/etude.jpg');
    opacity: 0;
}

.menu #fond_language {
    background-image: url('image/fond/langage.jpg');
    opacity: 0;
}

.menu #fond_programme {
    background-image: url('image/fond/dev.png');
    opacity: 0;
}

.menu #fond_projet {
    background-image: url('image/fond/projet.jpg');
    opacity: 0;
}

.menu .block_menu {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu .block_menu .onglet_menu {
    background: linear-gradient(15deg, cyan, white, white   );
    border-radius: 20px;
    padding: 3%;
    font-size: 230%;
    transition: 0.3s;
}

.menu .block_menu .onglet_menu:hover {
    transform: translateY(-20px);
}

.menu .block_menu .onglet_menu .onglet_menu_entete {
    color: black;
    text-decoration: none;
}

.menu .block_menu .onglet_menu .onglet_sous_menu {
    font-size: 70%;
    color: black;
    text-decoration: none;
}

.menu .block_menu .onglet_menu .logo_lien {
    height: 5vh;
    opacity : 0;
    visibility: hidden;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    z-index: -1;
}

.menu .block_menu .onglet_menu .ligne_onglet {
    display: flex;
    align-items: center;
}

/***************************************** menu *****************************************/

/***************************************** html *****************************************/

.html {
    background: linear-gradient(-160deg, white, orange);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.html .section_dev {
    display: flex;
    justify-content: center;
}

.html .section_dev .fond_logo {
    background-image: url('image/fond/html.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30%;
    width: 100%;
    height: 100vh;
    position: absolute;
    filter: blur(10px);
}

.html .section_dev .navigation_dev {
    background-color: white;
    width: 70%;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    opacity: 0.5;
    border-radius: 25px;
}

.html .section_dev .navigation_dev .reference_html {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.html .section_dev .navigation_dev .reference_html .titre_reference_html {
    font-size: 1.5em;
}

.html .section_dev .navigation_dev .reference_html .titre_reference_html:hover {
    color: cyan;
    cursor: pointer;
}


/***************************************** html *****************************************/

/***************************************** projet *****************************************/

.projet {
    background-image: url(image/fond/projet_menu.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.bloc_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.bloc_titre_section {
    padding-top: 3%;
    padding-bottom: 1%;
    position: float;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.bloc_titre_section span {
    position: absolute;
    margin-left: -1%;
}

.bloc_section .section {
    width: 20%;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    display: wrap;
    justify-content:space-around;
}

.bloc_section .section .bloc_projet {
    width: 95%;
    height: 20vh;
    background-color: white;
    border-radius: 20px;
    margin: 2.5%;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.459);
    position: relative;
    transition: box-shadow 0.2s linear;
}

.bloc_section .section .bloc_projet:hover {
    cursor: pointer;
}


.bloc_section .section .bloc_projet .nom_tache {
    text-align: center;
    padding-top: 10%;
    font-size: 2em;
    user-select: none;
}

.bloc_section .section .bloc_projet .description_tache {
    padding: 3%;
    text-align: center;
    font-size: 1.2em;
    user-select: none;
}

.bloc_section .section .bloc_projet .description_tache a {
    text-decoration: none;
    color: rgb(0, 102, 255);
}

.bloc_section .section .bloc_projet .description_tache a:visited {
    color: rgb(0, 102, 255);
}

.bloc_section .section .bloc_projet .description_tache a:hover {
    color: rgb(0, 174, 255);
}


/***************************************** projet *****************************************/

/***************************************** bloc 2 *****************************************/

.menu_bloc2 {
    background-image: url(image/fond/reseaux.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu_bloc2 .menu_bulle {
    transition: all 0.6s ease-in-out;
}

.menu_bloc2 .menu_bulle .bulle {
    z-index: 1;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.308);
    backdrop-filter: blur(5px);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid cyan;
    color: cyan;
    transition: transform 0.4s ease-in-out;
}

.menu_bloc2 .menu_bulle .bulle:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.menu_bloc2 .affichage_bulle {
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    width: 60%;
    padding: 5%;
    padding-bottom: 8%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.menu_bloc2 .affichage_bulle h1 {
    text-align: center;
    margin-bottom: 5%;
    font-size: 4em;
}


.menu_bloc2 .affichage_bulle h2 {
    margin-top: 3%;
    margin-bottom: 1%;
    font-size: 3em;
}

.menu_bloc2 .affichage_bulle p {
    font-size: 1.2em;
}

.menu_bloc2 .affichage_bulle img {
    width: 80%;
    display: block;
    margin: auto;
}

.menu_bloc2 .affichage_bulle .table_classe {
    margin: auto;
    margin-top: 2%;
    border-collapse: collapse;
    width: 100%;
}

.menu_bloc2 .affichage_bulle .table_classe td, th {
    border: 1px solid black;
    font-size: 1.1em;
    padding: 0.5%;
}

.menu_bloc2 .affichage_bulle .next {
    font-size: 3em;
    position: absolute;
    right: 5%;
    bottom: 1%;
}

.menu_bloc2 .affichage_bulle .next:hover {
    color: white;
    cursor: pointer;
}

.menu_bloc2 .affichage_bulle .close {
    font-size: 3em;
    position: absolute;
    right: 30px;
    top: 15px;    
}

.menu_bloc2 .affichage_bulle .close:hover {
    color: white;
    cursor: pointer;
}

/***************************************** bloc 2 *****************************************/